<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Rethinking Homelessness: Home</title>
        <link rel='stylesheet' type='text/css' href='common.css' />
    </head>
    <body>
        <div layout:fragment="contents">
            <div class='topnav'>
                <img src='logo.png' href='/' class='left-image' alt='RMIT logo' height=50>
                <a href='/' class = 'topnav-button'>Home</a>
                <a href='/mission' class = 'topnav-button'>Mission</a>
                <a href='/browseLGAs' class = 'topnav-button'>Browse LGAs</a>
                <a href='/searchLGAs' class = 'advance-filter'>Search LGAs</a>
            </div>
            <div class="sidenav">
                <a href="/browseLGAs/VIC">VIC</a>
                <a href="/NSW">NSW</a>
                <a href="#">QLD</a>
                <a href="#">SA</a>
                <a href="#">NT</a>
                <a href="#">WA</a>
                <a href="#">TAS</a>
            </div>
                <div id="withsidenav">
                    <div class="content">
                        <p th:text="${lgadetails.lga_code}"></p>
                        <p th:text="${lgadetails.lga_name}"></p>
                    </div>
                <div class='footer'>
                    <p>COSC-2803 Social Challange Portfolio</p>
                </div>
            </div>
        </div>
    </body>
</html>
