<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Rethinking Homelessness: Home</title>
    <link rel='stylesheet' type='text/css' href='/common.css' />
</head>
<body>
<div layout:fragment="contents">
    <div class='topnav'>
        <a href='/'><img src='/logo.png' class='left-image' alt='Logo of Re:Thinking Homelessness' height=50></a>
        <a href='/' class = 'topnav-button'>Home</a>
        <a href='/mission' class = 'topnav-button'>Mission</a>
        <a href='/browse/' class = 'topnav-button'>Browse LGAs</a>
    </div>

    <div class='content'>

        <h1 th:text="${home.lga_name}"></h1>
        <h2 th:text="'LGA Code: ' + ${home.lga_code}"></h2>
        <p th:text="'Homless and at risk population (2016): ' + ${home.pop16}"></p>
        <p th:text="'Homless and at risk population (2018): ' + ${home.pop18}"></p>
        <img th:src="'/LGAs/' + ${home.lga_code} + '.png'">

        <table>
          <tr>
            <th>Sex</th>
            <th>age</th>
            <th>num</th>
            </tr>
          <tr th:each="data : ${home.data16}">
            <td th:text="${data.sex}">Onions</td>
            <td th:text="${data.age}">Onions</td>
            <td th:text="${data.num}">Onions</td>
            </tr>
        </table>

        <table>
          <tr>
            <th>Sex</th>
            <th>age</th>
            <th>num</th>
            </tr>
          <tr th:each="data : ${home.data18}">
            <td th:text="${data.sex}">Onions</td>
            <td th:text="${data.age}">Onions</td>
            <td th:text="${data.num}">Onions</td>
            </tr>
        </table>


    </div>

    <div class='footer'>
        <p>COSC-2803 Social Challange Portfolio</p>
    </div>
</div>
</body>
</html>
