<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>All Movies in my peinis </title>
    <link rel='stylesheet' type='text/css' href='/src/main/resources/css/common.css' />
</head>
<body>
<div layout:fragment="contents">
    <div class='topnav'>
        <img src='logo.png' class='top-image' alt='RMIT logo' height='75'>
        <a href='/'>Home</a>
        <a href='/'>Mission</a>
        <a href='/'>By State</a>
        <a href='/'>By City</a>
    </div>

    <div class='header'>
        <h1>
            <img src='logo.png' class='top-image' alt='RMIT logo' height='75'>
            Week 05 exercise index.html page
        </h1>
    </div>

    <div class='content'>
        <table>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Genre</th>
            </tr>
          <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}">Onions</td>
            <td th:text="${movie.year}">Onions</td>
            <td th:text="${movie.genre}">Onions</td>
            </tr>
        </table>

    </div>

    <div class='footer'>
        <p>COSC-2803 Social Challange Portfolio</p>
    </div>
</div>
</body>
</html>
